.cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
}
.home-page {
  .search-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      color: rgb(107, 107, 107);
      border: 5px solid rgb(114, 113, 113);
      border-radius: 5px;
      padding: 10px 10px;
      margin-top: 50px;
      margin-left: 100px;
    }
    input {
      margin-top: 50px;
      margin-right: 100px;
      border-radius: 15px;
      border: 5px solid rgb(119, 118, 118);
      padding: 10px 5px;
      font-size: 20px;
    }
  }
}
.navigation-buttons {
  display: flex;
  padding-left: 100px;
  p {
    padding: 10px;
  }
  p:hover {
    color: rgb(158, 24, 75);
  }
}
